.brands
  position: relative
  padding-bottom: 24px
  margin: 15px 0 -5px 24px

  &::after
    content: ""
    text-align: right
    position: absolute
    bottom: 40px
    right: 0
    width: 24px
    height: 72px
    background: linear-gradient(to right, $bg-grey-gradient, $bg-grey)
    z-index: 1

  &__button
    margin: auto 16px auto auto

  &__element
    background-color: $bg-white
    height: 72px !important
    box-sizing: border-box
    border: 1px solid $border
    border-radius: 5px
    display: flex !important
    cursor: pointer
    transition: transform 0.3s

    &:hover
      transform: scale(0.97)

    &:active
      transform: scale(0.97)

  &__image
    margin: auto auto auto 16px

  &__list
    height: 160px
    list-style: none
    padding: 0
    transition: height 0.5s ease

    &::-webkit-scrollbar
      width: 0
      height: 0

@media screen and (min-width: 768px)
  .brands
    margin-left: 24px
    margin-bottom: 24px
    padding-bottom: 2px

    &::after
      display: none

  .brands__element
    width: 224px
    display: flex
    flex-wrap: wrap

  .brands__list
    display: flex
    flex-wrap: wrap
    gap: 16px 24px
    overflow: hidden

@media screen and (min-width: 1120px)
  .brands__list
    width: 100%
    gap: 16px 32px
    margin-top: -8px
